@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Video */
.video-container {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.video {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
}

.hero-container {
    color: white;
    width: 50%;
    height: 40%;
    border-radius: 5px;
    backdrop-filter: blur(4px);
    box-shadow: inset 10px 10px 20px white, 5px 5px 10px black;
    display: grid;
    grid-template-rows: 20% 60% 20%;
}

ul {
    list-style-type: none;
    padding-top: 2rem;
}

li {
    padding: 0.5rem;
}

label {
    padding: 0.25rem;
}

input {
    cursor: pointer;
}

.btn {
    width: 100%;
    border: none;
    color: white;
    font-weight: 900;
    background-color: blue;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: all 0.3s linear;
    cursor: pointer;
    box-shadow: inset 5px 5px 10px;
    font-size: 1.75rem;
}

hr {
    border-radius: 2px;
}


.error {
    text-align: center;
    display: none;
}

.btn:hover {
background-color: blueviolet;
box-shadow: inset 5px 5px 10px rgb(11, 228, 210);
}

.question-container {
    text-align: center;
    padding: 1rem;
}

li {
    padding-left: 5rem;
    font-size: 1.25rem;
    transition: all 0.3s linear;
}

li:hover {
    transform:scale(1.10);
    color: lightgrey;
}

.score-box {
    text-align: center;
    width: 50%;
    height: 40%;
    display: none;
    color: white;
    font-size: 1.75rem;
}

.reload {
    width: 100%;
    border: none;
    color: white;
    font-weight: 900;
    background-color: blue;
    transition: all 0.3s linear;
    cursor: pointer;
    box-shadow: inset 5px 5px 10px;
    font-size: 1.75rem;
    margin-top: 1rem;
    border-radius: 5px;
}